.features {
  max-width: 1210px;
  margin: 0 auto;
  padding: 69px 20px 110px;

  @media (max-width: $tablet-width) {
    padding: 54px 25px 54px;
  }

  @media (max-width: $mobile-width) {
    padding: 21px 14px 60px;
  }
}

.features__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  row-gap: 30px;

  @media (max-width: $mobile-width) {
    padding: 0;
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
}

.features__list li {
  color: $blue;
  position: relative;
  padding: 40px 45px;
  border: 1px solid $grey;
  background-color: $white;
  cursor: pointer;

  &::before {
    position: absolute;
    content: "";
    width: 3px;
    height: calc(100% + 2px);
    background-color: $blue;
    left: -1px;
    top: -1px;
  }

  &:hover {
    background-color: $blue;
    color: $white;
    border-color: $blue;
  }

  &:hover .features__card-title,
  &:hover .features__card-description {
    color: $white;
  }
}

.features__card-title {
  font-family: $font-family--title;
  font-size: 24px;
  line-height: 34px;
  color: $blue;

  @media (max-width: $mobile-width) {
    font-size: 20px;
    line-height: 140.62%;
  }
}

.features__card-description {
  font-family: $font-family--description;
  font-size: 16px;
  line-height: 22px;
  color: $grey-text;

  @media (max-width: $mobile-width) {
    line-height: 21.5px;
  }
}
