.footer {
  background-color: $white;
  color: $dark-05;
  font-family: $font-family--description;
}

.footer__center {
  max-width: 1455px;
  width: 100%;
  margin: 0 auto;
  padding: 50px 20px;
  display: flex;
  flex-wrap: wrap;

  @media (max-width: $tablet-width) {
    padding: 50px 25px;
  }

  @media (max-width: $mobile-width) {
    padding: 50px 15px;
    flex-direction: column;
    background-color: $white;
  }
}

.footer a {
  text-decoration: none;
  color: inherit;
}

.footer__title {
  font-family: $font-family--title;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  color: $dark;
  text-transform: uppercase;
}

.footer p {
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
}

.footer__tablet {
  display: none;

  @media (max-width: $tablet-width) {
    display: block;
  }
}

.footer__desktop {
  @media (max-width: $tablet-width) {
    display: none;
  }
}

.footer__nav {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (max-width: $mobile-width) {
    flex-direction: column;
    width: 100%;
  }
}

.footer__logo-socials {
  @media (max-width: $tablet-width) {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (max-width: $tablet-width) {
    padding: 0 0 60px 0;
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
    width: 100%;
  }
}

.footer__logo {
  color: $black;
  margin: 0 0 50px 0;
}

.footer__socials {
  @media (max-width: $tablet-width) {
    order: 1;
  }
}

.footer__menu {
  position: relative;
  width: 530px;

  @media (max-width: $tablet-width) {
    width: 50%;
  }

  @media (max-width: $mobile-width) {
    width: 100%;

    &::before {
      position: absolute;
      content: "";
      width: calc(100% + 30px);
      height: 1px;
      top: 0;
      right: 0;
      left: 0;
      margin: 0 0 0 -15px;
      background-color: $grey-line;
    }
  }
}

.footer__list-menu {
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100px;

  @media (max-width: $tablet-width) {
    height: 100%;
  }
}

.footer__list-menu li {
  min-width: 300px;

  @media (max-width: $mobile-width) {
    min-width: 270px;
  }
}

.footer__list-contacts {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__contacts {
  position: relative;
  display: flex;
  flex-direction: column;

  @media (max-width: $mobile-width) {
    &::before {
      position: absolute;
      content: "";
      width: calc(100% + 30px);
      height: 1px;
      top: 0;
      right: 0;
      left: 0;
      margin: 0 0 0 -15px;
      background-color: $grey-line;
    }
  }
}

.footer__rights {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px 0 0 0;

  &::before {
    @media (max-width: $mobile-width) {
      position: absolute;
      content: "";
      width: calc(100% + 30px);
      height: 1px;
      top: 0;
      right: 0;
      left: 0;
      margin: 0 0 0 -15px;
      background-color: $grey-line;
    }
  }

  @media (max-width: $mobile-width) {
    text-align: center;
    flex-direction: column;
  }

  .footer__menu-button,
  .footer__contacts-button {
    display: none;

    @media (max-width: $mobile-width) {
      display: block;
    }
  }
}

.footer__rights-desktop {
  @media (max-width: $tablet-width) {
    display: none;
  }
}
