.footer {
  background-color: $white;
  color: $dark-05;
  font-family: $font-family--description;
}

.footer__center {
  max-width: 1455px;
  width: 100%;
  margin: 0 auto;
  padding: 50px 20px;
  display: flex;
  flex-wrap: wrap;

  @media (max-width: $tablet-width) {
    padding: 50px 25px;
  }

  @media (max-width: $mobile-width) {
    padding: 50px 15px;
    flex-direction: column;
    background-color: $white;
  }
}

.footer a {
  text-decoration: none;
  color: inherit;
}

.footer__title {
  font-family: $font-family--title;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  color: $dark;
  text-transform: uppercase;
}

.footer p {
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
}

.footer__tablet {
  display: none;

  @media (max-width: $tablet-width) {
    display: block;
  }
}

.footer__desktop {
  @media (max-width: $tablet-width) {
    display: none;
  }
}

.footer__items-contacts {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (max-width: $mobile-width) {
    flex-direction: column;
  }
}

.footer__logo-socials {
  @media (max-width: $tablet-width) {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (max-width: $tablet-width) {
    padding: 0 0 60px 0;
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
  }
}

.footer__logo {
  color: $black;
  margin: 0 0 50px 0;
}

.footer__socials {
  @media (max-width: $tablet-width) {
    order: 1;
  }
}

.footer__site-items {
  width: 530px;

  @media (max-width: $tablet-width) {
    width: 50%;
  }
}

.footer__list {
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100px;

  @media (max-width: $tablet-width) {
    height: 100%;
  }
}

.footer__list li {
  min-width: 300px;
}


.footer__contacts {
  display: flex;
  flex-direction: column;
}

.footer__rights {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px 0 0 0;

  @media (max-width: $mobile-width) {
    align-self: center;
    flex-direction: column;
  }
}
