.form {
  font-family: $font-family--description;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: $white;
  background-image: url("../img/backgrounds/background-form.svg"),
    url("../img/backgrounds/triangles-form.svg");
  background-color: $blue;
  background-repeat: no-repeat;
  background-size: contain, contain;
  background-position: 0 20%, 0 50%;

  @media (max-width: $tablet-width) {
    background-image: none;
  }
}

.form__center {
  max-width: 1210px;
  margin: 0 auto;
  padding: 50px 20px 50px;

  @media (max-width: $tablet-width) {
    padding: 60px 91px 100px;
  }

  @media (max-width: $mobile-width) {
    padding: 50px 15px 50px;
  }
}

.form__wrapper {
  margin: 0 0 0 auto;
  max-width: 570px;

  @media (max-width: $tablet-width) {
    margin: 0 auto;
  }
}

.form h2 {
  font-family: $font-family--title;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;

  @media (max-width: $tablet-width) {
    font-size: 32px;
    line-height: 45px;
  }

  @media (max-width: $mobile-width) {
    font-size: 28px;
    line-height: 39px;
  }
}

.form__data {
  border: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 31px;
  row-gap: 40px;
  padding: 0;
  margin: 0 0 43px 0;
}

.form input,
.form textarea {
  background-color: $white-opacity01;
  flex-grow: 1;
  border: none;
  padding: 14px;

  &::placeholder {
    color: inherit;
  }
}

.form input[type="checkbox"] + label {
  position: relative;
  padding: 0 0 0 30px;

  &::before {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    top: 3px;
    left: 0;
    border: 1px solid $white;
  }
}

.form input[type="checkbox"]:checked + label {
  &::after {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    top: 8px;
    left: 4px;
    background-image: url("../img/icons/check.svg");
    background-repeat: no-repeat;
  }
}

.form__submit {
  padding: 0;
  margin: 0;
  border: none;
  display: flex;
}

.form button {
  font-family: $font-family--title;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background-color: inherit;
  border: 1px solid $white;
  border-radius: 5px;
  width: 270px;
  padding: 14px;
  margin: 0 40px 0 0;
}
