.header {
  max-width: 1411px;
  margin: 0 auto;
  padding: 33px 10px 0 10px;
  display: flex;
  justify-content: space-between;
}

.header__logo-mobile {
  display: none;
}

.header__contacts {
  display: flex;
}

.header__contacts-list {
  margin: 0 40px;
  padding: 0;
  list-style: none;
  display: flex;
  // column-gap: 80px;
}

.header__contacts-list li {
  align-self: center;
  padding: 5px 0;
  min-width: 187px;
}

.header__contacts-list a {
  position: relative;
  text-decoration: none;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: $white;
  padding: 0 0 0 50px;

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  &:active {
    opacity: 1;
  }
}

.header__contacts-list a[href*="@"] {
  &::before {
    position: absolute;
    content: "";
    width: 20px ;
    height: 20px ;
    top: 0;
    left: 0;
    background-image: url("../img/icons/letter.svg");
    background-repeat: no-repeat;
  }
}

.header__contacts-list a[href*="tel"] {
  &::before {
    position: absolute;
    content: "";
    width: 20px ;
    height: 20px ;
    top: 0;
    left: 0;
    background-image: url("../img/icons/phone-call.svg");
    background-repeat: no-repeat;
  }
}

.header__button-order {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background-color: transparent;
  color: $white;
  height: 45px;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  padding: 0 20px;
  align-self: center;

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  &:active {
    opacity: 1;
  }
}
