.lead {
  background-image: url("../img/backgrounds/pattern.png");
  background-repeat: no-repeat;
  background-position: 0;
  background-size: cover;
}

.lead__center {
  max-width: 1566px;
  width: 100%;
  min-height: 791px;
  padding: 263px 76px 153px;
  margin: 0 auto;
  color: $white;
  background-image: url("../img/backgrounds/boards.png"), url("../img/backgrounds/poligons-header.svg");
  background-repeat: no-repeat;
  background-position: 100% 71%, 50% 50%;
  background-size: auto, auto;

  @media (max-width: $tablet-width) {
    min-height: 688px;
    background-repeat: no-repeat;
    background-position: 158% 32%, 49% -119px;
    background-size: 58%, 191%;
    padding: 136px 91px 157px;
  }

  @media (max-width: $mobile-width) {
    min-height: 645px;
    padding: 232px 17px 70px;
    background-position: 100% 21%, 55% -130px;
    background-size: 98%, 449%;
  }
}

.lead a {
  color: inherit;
  text-decoration: none;
}

.lead h1 {
  font-weight: bold;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  max-width: 817px;
  margin: 70px 0 28px 0;

  @media (max-width: $tablet-width) {
    font-size: 60px;
    line-height: 70px;
    max-width: 470px;
  }

  @media (max-width: $mobile-width) {
    font-size: 40px;
    line-height: 47px;
    max-width: 270px;
  }
}

.lead p {
  position: relative;
  font-family: $font-family--description;
  font-weight: normal;
  font-size: 22px;
  line-height: 34px;
  padding: 0 0 0 95px;
  margin: 0 0 42px 0;
  max-width: 790px;

  @media (max-width: $tablet-width) {
    font-size: 18px;
    line-height: 156.8%;
    max-width: 470px;
    padding: 0 0 0 50px;
    margin: 0 0 55px 0;
  }

  @media (max-width: $mobile-width) {
    font-size: 16px;
    padding: 0 0 0 48px;
    margin: 0 0 43px 0;
  }

  &::before {
    position: absolute;
    content: "";
    width: 66px;
    height: 2px;
    background-color: $white;
    left: 0;
    top: 16px;

    @media (max-width: $tablet-width) {
      top: 14px;
      width: 33px;
    }

    @media (max-width: $mobile-width) {
      top: 13px;
    }
  }
}

.lead__button-consultation {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  display: block;

  text-align: center;
  text-transform: uppercase;
  background-color: $blue;
  border-radius: 5px;
  margin: 0 0 0 95px;
  padding: 18px 20px;
  width: 407px;

  &:hover {
    transform: scale(1.05);
  }

  &:active {
    transform: scale(1);
  }

  @media (max-width: $tablet-width) {
    margin: 0 0 0 50px;
    max-width: 380px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    margin: 0;
  }
}

.lead__button-text-desktop {
  @media (max-width: $mobile-width) {
    display: none;
  }
}

.lead__button-text-mobile {
  display: none;

  @media (max-width: $mobile-width) {
    display: block;
  }
}

.lead__link-scroll {
  font-family: $font-family--description;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  opacity: 0.5;
  transform: rotate(-90deg) translate(-100px, 0);
  margin: 88px 0 0 0;
  display: block;
  width: 154px;
  transform-origin: 0 0;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 1;
  }

  @media (max-width: $tablet-width) {
    display: none;
  }
}
