.modal {
  position: fixed;
  width: 490px;
  max-width: 100%;
  height: 605px;
  max-height: 100%;
  z-index: 100;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: $white;
}

.modal__guts {
  background-color: $blue;
  font-family: $font-family--description;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: $white;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  padding: 29px 39px;
  overflow-y: auto;
}

.modal h2 {
  font-family: $font-family--title;
  font-weight: normal;
  font-size: 28px;
  line-height: 39px;
  margin: 0;
}

.modal p {
  margin: 16px 10px 32px 0;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__form * {
  margin: 0 0 30px 0;
}

.modal input,
.modal textarea {
  background-color: $white-opacity01;
  width: 100%;
  border: none;
  padding: 16px 25px;

  &::placeholder {
    color: inherit;
  }
}

.modal textarea {
  height: 104px;
  resize: none;
}

.modal__wrapper-checkbox {
  position: relative;
  order: 1;
  margin: 0;
}

.modal input[type="checkbox"] {
  width: 1px;
  top: 10px;
  left: 8px;
}

.modal input[type="checkbox"] + label {
  padding: 0 0 0 30px;
  cursor: pointer;

  &::before {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    top: 3px;
    left: 0;
    border: 1px solid $white;
  }
}

.modal input[type="checkbox"]:hover + label,
.modal input[type="checkbox"]:focus + label {
  &::before {
    border-color: $black;
  }
}

.modal input[type="checkbox"]:checked + label {
  &::after {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    top: 8px;
    left: 4px;
    background-image: url("../img/icons/check.svg");
    background-repeat: no-repeat;
  }
}

.modal button[type="submit"] {
  font-family: $font-family--title;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background-color: inherit;
  border: 1px solid $white;
  border-radius: 5px;
  width: 100%;
  padding: 14px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 1;
  }
}

.modal__button-close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 17px;
  height: 17px;
  background-color: transparent;
  background-image: url("../img/icons/close.svg");
  background-repeat: no-repeat;
  border: none;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 1;
  }
}
