.offer {
  max-width: 1210px;
  width: 100%;
  margin: 0 auto;
  padding: 50px 20px 130px;
  font-family: $font-family--title;
  font-weight: normal;
  color: $white;

  @media (max-width: $tablet-width) {
    padding: 30px 25px 70px;
  }

  @media (max-width: $mobile-width) {
    // padding: 30px 14px 130px;
  }
}

.offer__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  row-gap: 46px;

  @media (max-width: $tablet-width) {
    grid-template-columns: 1fr;
  }
}

.offer__list a {
  position: relative;
  text-decoration: none;
  color: inherit;

  &:hover figure {
    opacity: 0.5;
  }
}

.offer h2 {
  font-size: 36px;
  line-height: 51px;
  margin: 0 0 50px 0;

  @media (max-width: $tablet-width) {
    font-size: 32px;
    line-height: 45px;
  }

  @media (max-width: $mobile-width) {
    font-size: 28px;
    line-height: 39px;
  }
}

.offer figure {
  position: relative;
  margin: 0;

  &::after {
    position: absolute;
    content: "";
    text-align: center;
    width: 63px;
    height: 63px;
    bottom: 0;
    right: 0;
    background-image: url("../img/icons/arrow.svg");
    background-repeat: no-repeat;
  }
}

.offer figcaption {
  font-size: 20px;
  line-height: 30px;
  position: absolute;
  top: 50px;
  left: 40px;
}

.offer img {
  width: 100%;
  object-fit: cover;

  @media (max-width: $tablet-width) {
    height: 256px;
  }
}

.offer img[src="./img/boards-production.png"] {
  object-position: 0 80%;
}
