.page-body {
  font-family: $font-family--title;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  // width: fit-content;
  background-image: url("../img/backgrounds/pattern.png"),
    url("../img/backgrounds/boards.png"),
    url("../img/backgrounds/poligons-header.svg");
  background-color: $dark;
  background-repeat: no-repeat;
  background-size: cover, auto, auto;
  background-position: center, 90% 50%, 90% 50%;
}

.page-body .main {
  flex-grow: 1;
}
