// Colors

$white: #ffffff;
$dark: #1b2d37;
$dark-05: rgba(27, 45, 55, 0.5);
$blue: #00b2ff;
$white-opacity01: rgba(255, 255, 255, 0.1);
$grey: #788891;
$grey-text: #666666;
$grey-line: #626962;
$grey: #ebebeb;
$grey-button: #c4c4c4;
$black: #203c42;

// Font

$font-family--title: "Roboto Condensed", "Arial", sans-serif;
$font-family--description: "PT Mono", "Arial", sans-serif;


// Viewport

$tablet-width: 1023px;
$mobile-width: 767px;
$desktop: 1300px;
