// Colors

$white: #ffffff;
$dark: #1b2d37;
$dark-05: rgba(27, 45, 55, 0.5);
$blue: #00b2ff;
$white-opacity01: rgba(255, 255, 255, 0.1);
$grey: #788891;
$grey-text: #666666;
$grey: #ebebeb;

// Font

$font-family--title: "Roboto Condensed", "Arial", sans-serif;
$font-family--description: "PT Mono", "Arial", sans-serif;
$font-family--additionally: "Roboto", "Arial", sans-serif;


// Viewport

$tablet-width: 1023px;
$mobile-width: 767px;


//resolution

$dppx: 2dppx;
$dpi: 192dpi;
/*

@media (max-width: $tablet-width) {

}

@media (max-width: $mobile-width) {

}
 */
