// Colors

$white: #ffffff;
$dark: #1B2D37;
$blue: #00B2FF;
$grey: #788891;
$grey-text: #666666;

// Font

$font-family--title: "Roboto Condensed", "Arial", sans-serif;
$font-family--description: "PT Mono", "Arial", sans-serif;
$font-family--additionally: "Roboto", "Arial", sans-serif;


// Viewport

$tablet-width: 1023px;
$mobile-width: 767px;


//resolution

$dppx: 2dppx;
$dpi: 192dpi;
